<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
    <ion-text *ngIf="time$ | async as time">
      <h1>
        {{ time }}
      </h1>
    </ion-text>

    <ion-button (click)="startTimer()" *ngIf="true"> Start timer </ion-button>

    <!-- TODO: Style -->
    <div *ngIf="timers$ | async as timers">
      <div *ngFor="let timer of timers">
        <app-timer [timer]="timer"></app-timer>
      </div>
    </div>
  </div>
</ion-content>
