<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid >
    <ion-row class="ion-padding">
      <ion-col>
        <ion-text *ngIf="time$ | async as time" class="ion-text-center">
          <h1>
            {{ time }}
          </h1>
        </ion-text>
      
       <ion-button (click)="startTimer()" *ngIf="true" fill="outline" expand="block"> Start timer </ion-button> 
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col *ngIf="timers$ | async as timers">
        <app-timer *ngFor="let timer of timers" [timer]="timer"></app-timer>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
