<!-- https://ionicframework.com/blog/5-examples-of-the-new-ionic-6-bottom-sheet-modal/ -->
<ion-header>
  <ion-toolbar>
    <ion-title>Welcome!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item lines="none">
      <ion-label class="ion-text-wrap">
        <ion-text><h1>Let's get you started.</h1></ion-text>
      </ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-label class="ion-text-wrap">
        <ion-text>
          If you want to explore the app yourself, swipe this away. Otherwise, swipe up!
        </ion-text>
      </ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-label class="ion-text-wrap">
        <ion-text>
          For this app to work well, there's one important thing.
          
          You should give us permission to notify you.
        </ion-text>
      </ion-label>
    </ion-item>
    
    <ion-item button (click)="requestPermissions()">
      <ion-label>Ask permissions</ion-label>
    </ion-item>
  </ion-list>
  
</ion-content>
