<ion-card [formGroup]="form">
  <ion-card-header
    >{{ timer.name }}

    <ion-icon
      *ngIf="(timer.state$ | async) !== 'stopped'"
      name="close"
      style="float: right"
      (click)="onStopTimerClicked(timer)"
    ></ion-icon>
  </ion-card-header>

  <ion-card-content>
    <ion-text *ngIf="timer.timer$ | async as duration">
      <h1>
        {{ duration.toFormat("mm:ss") }}
      </h1>
    </ion-text>
    
    <ng-container *ngIf="timer.state$ | async as timerState">
      <div *ngIf="timerState === 'ticking'; else stopped">
        <button>
          <ion-icon
            (click)="onToggleButtonClick(timerState)"
            [name]="
              timerState === 'ticking'
                ? 'stop-circle-outline'
                : 'play-circle-outline'
            "
            size="large"
          ></ion-icon>
        </button>
        <ion-item>
          <ion-label> Remind every nth (mins) </ion-label>
          <ion-input
            formControlName="remindEveryMinutes"
            type="number"
            size="1"
          ></ion-input>
        </ion-item>
      </div>

      <ng-template #stopped> </ng-template>
    </ng-container>
  </ion-card-content>
</ion-card>
